   

   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
  $( ".date_of_birth" ).datepicker({
    changeMonth: true,
    changeYear: true,
          dateFormat: 'dd-mm-yy'
  });

  });
  </script>

 <%= render 'form' %>

 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' } %>
   </div>
